flows.json
[
    {
        "id": "495974f5c298f80c",
        "type": "tab",
        "label": "Post data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cd6acdc77f4ee6db",
        "type": "tab",
        "label": "Post new sensor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "91795fdf14f0f481",
        "type": "tab",
        "label": "accept new sensor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ef4d562c7da92bbb",
        "type": "tab",
        "label": "Login",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a83b94e49f96bc96",
        "type": "tab",
        "label": "Sensors",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7ab793bdce786f28",
        "type": "tab",
        "label": "measurments",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "58b0b2179354f408",
        "type": "tab",
        "label": "rename_sensor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7ba9a8144ff9121b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "nodered_sub",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8badca3bd1764b93",
        "type": "sqlitedb",
        "db": "/home/ubuntu/.node-red/data.db",
        "mode": "RWC"
    },
    {
        "id": "8bd5432c21d4df4f",
        "type": "mqtt in",
        "z": "495974f5c298f80c",
        "name": "",
        "topic": "sensors/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7ba9a8144ff9121b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "f820e4f96cf33344"
            ]
        ]
    },
    {
        "id": "32022632d54e26a3",
        "type": "debug",
        "z": "495974f5c298f80c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 240,
        "wires": []
    },
    {
        "id": "f820e4f96cf33344",
        "type": "function",
        "z": "495974f5c298f80c",
        "name": "prepare_sql",
        "func": "let p = msg.payload;\n\nlet gateway = p.gateway_id || \"unknown\";\nlet mac = p.sensor_mac || \"unknown\";\nlet temperature = p.temperature || 0;\nlet humidity = p.humidity || 0;\nlet pressure = p.pressure || 0;\nlet timestamp = p.timestamp || new Date().toISOString();\n\nmsg.topic = `\nINSERT INTO measurements (gateway_id, sensor_mac, temperature, humidity, pressure, timestamp)\nVALUES ('${gateway}', '${mac}', ${temperature}, ${humidity}, ${pressure}, '${timestamp}');\n`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 240,
        "wires": [
            [
                "715a15d92621d04d"
            ]
        ]
    },
    {
        "id": "715a15d92621d04d",
        "type": "sqlite",
        "z": "495974f5c298f80c",
        "mydb": "8badca3bd1764b93",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "insert mesurment",
        "x": 670,
        "y": 240,
        "wires": [
            [
                "32022632d54e26a3"
            ]
        ]
    },
    {
        "id": "8cbf78f100478939",
        "type": "inject",
        "z": "495974f5c298f80c",
        "name": "Test sensor 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "iot/GW001/A4C1386F128D/data",
        "payload": "{\"gateway_id\":\"GW001\",\"sensor_mac\":\"A4:C1:38:6F:12:8D\",\"temperature\":23.8,\"humidity\":59.4,\"pressure\":1011.8,\"timestamp\":\"2025-11-11T21:25:00Z\"}",
        "payloadType": "json",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "f820e4f96cf33344"
            ]
        ]
    },
    {
        "id": "c1480336aa8819be",
        "type": "mqtt in",
        "z": "cd6acdc77f4ee6db",
        "name": " New sensor MQTT",
        "topic": "iot/+/found",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7ba9a8144ff9121b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "0f590e0cf2ee1729"
            ]
        ]
    },
    {
        "id": "0f590e0cf2ee1729",
        "type": "function",
        "z": "cd6acdc77f4ee6db",
        "name": "function 1",
        "func": "// msg.payload = {sensor_mac: \"A4:C1:38:6F:12:8D\", rssi: -67}\nlet gateway = msg.topic.split(\"/\")[1]; // wyciąga gateway_id z topicu\nlet mac = msg.payload.sensor_mac;\n\nmsg.topic = `\nINSERT OR IGNORE INTO sensors (gateway_id, sensor_mac, status)\nVALUES ('${gateway}', '${mac}', 'pending');\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 160,
        "wires": [
            [
                "01ab8b03a5366f22"
            ]
        ]
    },
    {
        "id": "01ab8b03a5366f22",
        "type": "sqlite",
        "z": "cd6acdc77f4ee6db",
        "mydb": "8badca3bd1764b93",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Sensor",
        "x": 760,
        "y": 160,
        "wires": [
            [
                "9a1f28023ceb1222"
            ]
        ]
    },
    {
        "id": "9a1f28023ceb1222",
        "type": "debug",
        "z": "cd6acdc77f4ee6db",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 160,
        "wires": []
    },
    {
        "id": "82603ed2c158248a",
        "type": "inject",
        "z": "cd6acdc77f4ee6db",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "iot/GW001/found",
        "payload": "{\"sensor_mac\": \"A4:C1:38:6F:12:8D\", \"rssi\": -67}",
        "payloadType": "json",
        "x": 270,
        "y": 260,
        "wires": [
            [
                "0f590e0cf2ee1729"
            ]
        ]
    },
    {
        "id": "6a3d21693a134156",
        "type": "http in",
        "z": "91795fdf14f0f481",
        "name": "Accept",
        "url": "/accept_sensor",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "d836e79110414ac5"
            ]
        ]
    },
    {
        "id": "d836e79110414ac5",
        "type": "function",
        "z": "91795fdf14f0f481",
        "name": "function 2",
        "func": "\nlet p = msg.payload; \nlet mac = p.sensor_mac;\nlet name = p.name || \"Unnamed\";\nlet gateway_id = p.gateway_id;\n\n// Zmieniamy status w bazie\nmsg.topic = `\nUPDATE sensors\nSET name='${name}', status='accepted'\nWHERE sensor_mac='${mac}';\n`;\n\n// Przesyłamy info do gatewaya\nmsg.payload = {\n    sensor_mac: mac,\n    name: name\n};\nmsg.gateway_id = gateway_id;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 200,
        "wires": [
            [
                "b79a8497319dfdb4"
            ]
        ]
    },
    {
        "id": "b79a8497319dfdb4",
        "type": "sqlite",
        "z": "91795fdf14f0f481",
        "mydb": "8badca3bd1764b93",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 890,
        "y": 200,
        "wires": [
            [
                "c56a02a7b098f9b5",
                "e3c577af570f1b77",
                "a63681e976e847c3"
            ]
        ]
    },
    {
        "id": "c56a02a7b098f9b5",
        "type": "mqtt out",
        "z": "91795fdf14f0f481",
        "name": "",
        "topic": "iot/${gateway_id}/accepted",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7ba9a8144ff9121b",
        "x": 1220,
        "y": 200,
        "wires": []
    },
    {
        "id": "e3c577af570f1b77",
        "type": "http response",
        "z": "91795fdf14f0f481",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1200,
        "y": 280,
        "wires": []
    },
    {
        "id": "a63681e976e847c3",
        "type": "debug",
        "z": "91795fdf14f0f481",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 340,
        "wires": []
    },
    {
        "id": "bffa620f50520bd0",
        "type": "http in",
        "z": "ef4d562c7da92bbb",
        "name": "Login API",
        "url": "/login",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 160,
        "wires": [
            [
                "00712b5517585a46"
            ]
        ]
    },
    {
        "id": "00712b5517585a46",
        "type": "function",
        "z": "ef4d562c7da92bbb",
        "name": "check login",
        "func": "let user = msg.payload.username;\nlet pass = msg.payload.password;\n\nmsg.topic = `\nSELECT * FROM users\nWHERE username='${user}' AND password='${pass}'\nLIMIT 1;\n`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 160,
        "wires": [
            [
                "b9d83ee5e2dc1fc5"
            ]
        ]
    },
    {
        "id": "b9d83ee5e2dc1fc5",
        "type": "sqlite",
        "z": "ef4d562c7da92bbb",
        "mydb": "8badca3bd1764b93",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "SQLite check user",
        "x": 630,
        "y": 160,
        "wires": [
            [
                "c6685ba83fb1af4b"
            ]
        ]
    },
    {
        "id": "c6685ba83fb1af4b",
        "type": "function",
        "z": "ef4d562c7da92bbb",
        "name": "function 3",
        "func": "if (msg.payload && msg.payload.length === 1) {\n    // użytkownik prawidłowy\n    msg.payload = {\n        success: true,\n        gateway_id: msg.payload[0].gateway_id\n    };\n} else {\n    msg.payload = { success: false };\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 160,
        "wires": [
            [
                "0237985986906306",
                "857885d99238cc1c"
            ]
        ]
    },
    {
        "id": "0237985986906306",
        "type": "http response",
        "z": "ef4d562c7da92bbb",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 160,
        "wires": []
    },
    {
        "id": "857885d99238cc1c",
        "type": "debug",
        "z": "ef4d562c7da92bbb",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 100,
        "wires": []
    },
    {
        "id": "7cecab17f37911c2",
        "type": "http in",
        "z": "a83b94e49f96bc96",
        "name": "",
        "url": "/sensors",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 140,
        "wires": [
            [
                "4a3851bf0b7f4b15"
            ]
        ]
    },
    {
        "id": "4a3851bf0b7f4b15",
        "type": "function",
        "z": "a83b94e49f96bc96",
        "name": "function 4",
        "func": "msg.topic = \"SELECT * FROM sensors\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 140,
        "wires": [
            [
                "011334eeb166b964"
            ]
        ]
    },
    {
        "id": "011334eeb166b964",
        "type": "sqlite",
        "z": "a83b94e49f96bc96",
        "mydb": "8badca3bd1764b93",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 770,
        "y": 140,
        "wires": [
            [
                "36ec8a4538e71974",
                "42e8d14f0b89b56d"
            ]
        ]
    },
    {
        "id": "36ec8a4538e71974",
        "type": "http response",
        "z": "a83b94e49f96bc96",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1050,
        "y": 140,
        "wires": []
    },
    {
        "id": "42e8d14f0b89b56d",
        "type": "debug",
        "z": "a83b94e49f96bc96",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 60,
        "wires": []
    },
    {
        "id": "a6f75b5a32999164",
        "type": "http in",
        "z": "7ab793bdce786f28",
        "name": "",
        "url": "/measurments",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 330,
        "y": 320,
        "wires": [
            [
                "6c3ae2b35d413308"
            ]
        ]
    },
    {
        "id": "6c3ae2b35d413308",
        "type": "function",
        "z": "7ab793bdce786f28",
        "name": "function 5",
        "func": "let mac = msg.req.query.sensor_mac;\n\nif (!mac) {\n    msg.payload = { error: \"sensor_mac missing\" };\n    msg.statusCode = 400;\n    return msg;\n}\n\nmsg.topic = `\nSELECT * FROM measurements\nWHERE topic LIKE '%' || '${mac}' || '%'\nORDER BY timestamp DESC\nLIMIT 50;\n`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 320,
        "wires": [
            [
                "f756befba4e72d0d"
            ]
        ]
    },
    {
        "id": "f756befba4e72d0d",
        "type": "sqlite",
        "z": "7ab793bdce786f28",
        "mydb": "8badca3bd1764b93",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 770,
        "y": 320,
        "wires": [
            [
                "e03fe5d821072f2f",
                "1889527db19a6e7b"
            ]
        ]
    },
    {
        "id": "e03fe5d821072f2f",
        "type": "http response",
        "z": "7ab793bdce786f28",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 320,
        "wires": []
    },
    {
        "id": "1889527db19a6e7b",
        "type": "debug",
        "z": "7ab793bdce786f28",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 260,
        "wires": []
    },
    {
        "id": "d0a4ee17a7ada161",
        "type": "http in",
        "z": "58b0b2179354f408",
        "name": "",
        "url": "/rename_sensor",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 320,
        "wires": [
            [
                "1bbab7db30d98e01"
            ]
        ]
    },
    {
        "id": "1bbab7db30d98e01",
        "type": "function",
        "z": "58b0b2179354f408",
        "name": "function 6",
        "func": "let mac = msg.payload.sensor_mac;\nlet newName = msg.payload.new_name;\n\nif (!mac || !newName) {\n    msg.payload = { success: false, error: \"missing data\" };\n    msg.statusCode = 400;\n    return msg;\n}\n\nmsg.topic = `\nUPDATE sensors\nSET name='${newName}'\nWHERE sensor_mac='${mac}';\n`;\n\nmsg.payload = { success: true };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 320,
        "wires": [
            [
                "4e5ece37ae6d56ee"
            ]
        ]
    },
    {
        "id": "4e5ece37ae6d56ee",
        "type": "sqlite",
        "z": "58b0b2179354f408",
        "mydb": "8badca3bd1764b93",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 790,
        "y": 320,
        "wires": [
            [
                "962041682d0c72bc",
                "aa7ccd0fd68029f9"
            ]
        ]
    },
    {
        "id": "962041682d0c72bc",
        "type": "http response",
        "z": "58b0b2179354f408",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 320,
        "wires": []
    },
    {
        "id": "aa7ccd0fd68029f9",
        "type": "debug",
        "z": "58b0b2179354f408",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 240,
        "wires": []
    }
]